== Actions

目前只于现网提供。

//////////
:leveloffset: 2

<<<

include::actions/DescribeInstanceChargeTypeConfigs.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeInstanceInternetBandwidthConfigs.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeInstances.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeInstancesAttribute.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeInstancesStatus.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeInstanceTypeConfigs.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeInstanceTypeNameConfigs.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeInternetChargeTypeConfigs.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ModifyInstanceInternetChargeType.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ModifyInstancesAttribute.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ModifyInstancesProject.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ModifyInstancesRenewFlag.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/RebootInstances.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/RenewInstances.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/RenewInstances.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResetInstance.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResetInstance.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResetInstanceInternetMaxBandwidth.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResetInstanceInternetMaxBandwidth.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResetInstancesInternetMaxBandwidth.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResetInstancesInternetMaxBandwidth.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResetInstancesPassword.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResetInstancesType.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResetInstancesType.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResizeInstanceDisks.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ResizeInstanceDisks.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/RunInstances.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/RunInstances.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/StartInstances.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/StopInstances.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/TerminateInstances.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/UpdateInstanceVpcConfig.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/AllocateAddresses.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/AssociateAddress.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeAddresses.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeAddressQuota.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DisassociateAddress.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ModifyAddressAttribute.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ReleaseAddresses.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/TransformAddress.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/CreateImage.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DeleteImages.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeImages.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeImagesAttribute.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeImageSharePermission.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeMarketImages.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ModifyImageAttribute.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ModifyImageSharePermission.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/SyncImages.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/AssociateInstancesKeyPairs.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/CreateKeyPair.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DeleteKeyPairs.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeKeyPairs.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DescribeKeyPairsAttribute.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/DisassociateInstancesKeyPairs.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ImportKeyPair.adoc[]

<<<


:leveloffset: 1

:leveloffset: 2

<<<

include::actions/ModifyKeyPairAttribute.adoc[]

<<<


:leveloffset: 1
//////////
