

# CVM

//.实例相关的 Action 所支持的资源鉴权
[cols="1a,1a,1a,1a",width="100%", options="header"]
|================
|资源 2+|资源路径 +|条件密钥
{%for action in actions%}
4+| #### *Action* [black]#({{action.name}})#{%for res in action_map_to_res[action.name]%}
{{small_asciidoc.get(res,"| 2+| 1+| ")}}
{%endfor%}
{%endfor%}
|================


