= Tencent Cloud CVM API Reference
skipzhang(skipzhang@tencent.com)
:doctype: book
:encoding: utf-8
:lang: en
:toc: left
:toclevels: 2
:numbered:

本文档一共具有三个版本：

. 团队内版本
. 公司内部开发者版本
. 公开版本

这份版本是团队内版本，也信息是信息最丰富的版本。存在部分敏感内容，注意保密。


include::intro.adoc[]

include::call_method.adoc[]

include::usage.adoc[]

include::datatype.adoc[]

include::const.adoc[]

include::actions.adoc[]

include::instance-types.adoc[]



